.cart-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

@media (max-width: 1023px) {
  .cart-wrapper {
    flex-direction: column;
  }
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 39px;
}

@media (max-width: 480px) {
  .cart {
    flex-direction: column;
  }
}

.cart__list {
  flex-grow: 1;
}

.cart__list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-item__wr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart__item {
  border-radius: 8px;
}

@media (max-width: 680px) {
  .cart-item__wr {
    flex-direction: column;
  }
}

.cart__item:first-of-type .good__provider {
  padding-bottom: 4px;
}

.cart__item {
  padding-top: 12px;
}

.cart__item:not(:last-of-type) {
  margin-bottom: 20px;
}

@media (max-width: 680px) {
  .cart__item {
    padding-top: 0;
  }
}

.count {
  padding: 8px 4px 10px;
  display: flex;
  width: 100px;
  height: 44px;
  border-radius: 8px;
  background: white;
}

.count input.count__input {
  max-width: 44px;
  padding-bottom: 7px;
  font-size: 16px;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  border: none;
}

.count__btn {
  padding: 0 6px 7px 8px;
  border: none;
  outline: none;
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background-color: transparent;
}

.subtotal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.subtotal--desktop {
  width: 110px;
}

.subtotal--mob {
  display: none;
}

@media (max-width: 680px) {
  .subtotal--desktop {
    display: none;
  }

  .subtotal--mob {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}

.subtotal__full {
  border-bottom: 1px dashed var(--gray);
  text-decoration: line-through dashed;
  color: var(--gray);
  line-height: 26px;
}

.cart-item__good {
  display: flex;
  cursor: pointer;
}

@media (max-width: 680px) {
  .cart-item__good {
    margin: 12px 0;
  }

  .cart-item__good .checkbox {
    display: none;
  }
}

.cart-item__good .checkbox {
  margin-top: 38px;
}

.good__pic {
  width: 72px;
  margin-right: 16px;
}

@media (max-width: 480px) {
  .good__pic {
    margin: 0;
    width: 80px;
    margin-right: 16px;
  }
}

@media (min-width: 480px) and (max-width: 680px) {
  .good__pic {
    margin-right: 35px;
  }
}

.good__store {
  margin-bottom: 4px;
}

.good__store,
.good__provider {
  color: var(--gray, #9797af);
}

@media (max-width: 680px) {
  .good__provider {
    display: none;
  }
}

.good__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 275px;
  padding-right: 25px;
}

@media (max-width: 480px) {
  .good__description {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .good__description {
    padding-right: 0;
  }
}

.good__title {
  margin-bottom: 8px;
}

@media (max-width: 480px) {
  .good__title {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

.good__info {
  display: flex;
  gap: 17px;
  margin-bottom: 8px;
}

.cart-item__choose {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100px;
}

@media (max-width: 480px) {
  .cart-item__choose {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .cart-item__choose {
    flex-direction: row;
    width: auto;
    align-items: center;
  }
}

.choose-panel {
  display: flex;
  align-self: flex-end;
  gap: 10px;
}

@media (max-width: 680px) {
  .choose-panel {
    align-self: center;
  }
}

.choose-panel__button {
  padding: 0 3px;
}

.choose-panel__button:hover svg {
  stroke: var(--fuchsia);
}

/*unavailable goods section*/
.unavailable__title {
  letter-spacing: 0.18px;
}

.unavailable ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  color: var(--gray);
}

.unavailable__item {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

@media (max-width: 560px) {
  .unavailable__item {
    flex-direction: column;
  }
}

.unavailable__item .choose-panel {
  align-self: self-start;
}
.unavailable__item .good__info {
  margin: 0;
}

.unavailable-item-col {
  display: flex;
  filter: grayscale(1);
}

.unavailable__item .good__description {
  justify-content: initial;
  padding-right: 0px;
  width: 300px;
}

.cart-item-col,
.unavailable-item-col--2 {
  display: flex;
  gap: 16px;
}

@media (max-width: 560px) {
  .unavailable-item-col--2 {
    align-self: end;
  }
}

.delivery h2,
.payment h2,
.receiver h2 {
  margin-bottom: 16px;
}

.cart__add {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*recommendation*/
.recommendation ul {
  display: flex;
  width: 100%;
  gap: 30px;
  margin-top: 16px;
  padding: 0;
}

.rec__item {
  width: 33%;
}

.rec__item img {
  object-fit: cover;
  height: 240px;
  width: 100%;
}

/*delivery section*/
.delivery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.delivery-item {
  display: flex;
  gap: 32px;
}

@media (max-width: 480px) {
  .delivery-item {
    flex-direction: column;
    gap: 0;
  }
}

.delivery-item__col {
  width: 153px;
}

.delivery-time__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}

.delivery-time__item {
  height: 56px;
}

.delivery-star {
  margin-right: 4px;
}

.delivery-adress {
  margin-bottom: 4px;
}

.delivery__refusal {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 8px;
}

.delivery__refusal a {
  color: var(--green-1);
  text-decoration-line: none;
  border-bottom: 1px dashed var(--green-2);
}

/*payment section*/
.payment__card {
  display: flex;
  margin-bottom: 8px;
}

.payment__card img {
  margin-right: 8px;
}

.payment__card .card-number {
  margin-right: 12px;
}

.payment .text--small {
  color: var(--gray);
}

/*receiver section*/
.receiver form {
  max-width: 700px;
}

.receiver__row {
  display: flex;
  gap: 24px;
}

@media (max-width: 560px) {
  .receiver__row {
    flex-wrap: wrap;
    gap: 0;
  }
}

.receiver__row--1 .receiver__col {
  width: 50%;
}

.receiver__row--2 .receiver__col {
  width: 33%;
}

@media (max-width: 560px) {
  .receiver__row--1 .receiver__col,
  .receiver__row--2 .receiver__col {
    width: 100%;
  }
}

.receiver__label {
  height: 18px;
}

.receiver__err {
  color: var(--orange, #f55123);
  font-size: 12px;
  line-height: 14px;
  height: 18px;
}

.basket-empty {
  width: fit-content;
  text-align: center;
}

.basket-empty h3 {
  margin-bottom: 10px;
}

.basket-empty p {
  margin-bottom: 10px;
}
