:root {
  --fuchsia: #CB11AB;
  --gray: #9797af;
  --rulers: #0000001A;
  --rulers2: #00000033;
  --green-1: #0CB477;
  --green-2: #27AE60;
  --orange: #f55123;
  --deep-orange: #ff970d;
  --red: #eb5757;
  --smoky: #f6f6fa;
  --violet: #6725a8;
  --yellow: #f2c94c;
}
