@import "header.css";
@import "colors.css";

@font-face {
  font-family: "SegoeUI", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SegoeUI.woff2") format("woff2"),
    url("/fonts/SegoeUI.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "SegoeUI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

button:not([class]) {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
}
