@import "cart.css";
@import "colors.css";
@import "header.css";

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SegoeUI/SegoeUI-Regular.woff2") format("woff2"),
    url("../fonts/SegoeUI/SegoeUI-Regular.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SegoeUI/SegoeUI-SemiBold.woff2") format("woff2"),
    url("../fonts/SegoeUI/SegoeUI-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SegoeUI/SegoeUI-Bold.woff2") format("woff2"),
    url("../fonts/SegoeUI/SegoeUI-Bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}


body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background-color: var(--violet);
}

input,
button,
textarea,
select,
h1,
h2,
h3,
h4,
h5 {
  font: inherit;
}

ul {
  list-style: none;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.24px;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 28px; */
}

h4,
.h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

img {
  object-fit: contain;
  height: fit-content;
}

.title {
  margin-top: 13px;
  margin-bottom: 26px;
  font-family: "Segoe UI", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.28px;
}

.check {
  display: flex;
  align-items: center;
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__input:checked + .checkbox {
  background-color: var(--fuchsia);
  background-image: url("../assets/icons/check.svg");
  box-shadow: 0 0 0 1px var(--fuchsia);
}

.checkbox {
  display: block;
  font-family: sans-serif;
  width: 21px;
  height: 21px;
  border-radius: 5px;
  margin-right: 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 1px var(--rulers2);
}

.container {
  padding: 22px 25px;
  border-radius: 24px;
  background-color: var(--smoky);
}

.app-container {
  max-width: 1350px;
  margin: 0 auto;
}

.contrast-container {
  padding: 18px 24px 24px 24px;
  border-radius: 16px;
  background: white;
}

.ruler {
  height: 1px;
  width: 100%;
  margin-top: 16px;
  background-color: var(--rulers);
}
