@import 'cart.css';
@import 'colors.css';
@import 'header.css';
@import 'sidebar.css';

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SegoeUI/SegoeUI-Regular.woff2') format('woff2'),
    url('../fonts/SegoeUI/SegoeUI-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/SegoeUI/SegoeUI-SemiBold.woff2') format('woff2'),
    url('../fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/SegoeUI/SegoeUI-Bold.woff2') format('woff2'),
    url('../fonts/SegoeUI/SegoeUI-Bold.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background-color: var(--violet);
}

input,
button,
textarea,
select,
h1,
h2,
h3,
h4,
h5 {
  font: inherit;
}

ul {
  list-style: none;
  margin: 0;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

button:hover,
button:focus {
  font-weight: 500;
  text-shadow: white 0 0 2px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.24px;
}

@media (max-width: 560px) {
  h2 {
    font-size: 20px;
    line-height: 28px; /* 140% */
    letter-spacing: -0.2px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 700;
  /* line-height: 28px; */
}
@media (max-width: 560px) {
  h2 {
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: -0.2px;
  }
}

h4,
.h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

h5,
.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 560px) {
  h5 {
    font-size: 14px;
    line-height: 20px;
  }
}

.text--small {
  font-size: 13px;
  line-height: 16px;
}

img {
  object-fit: contain;
  height: fit-content;
}

input[type='text'],
input[type='tel'],
input[type='number'],
input[type='email'] {
  width: 100%;
  border: none;
  padding: 0 0 3px 0;
  border: none;
  border-bottom: 1px solid var(--gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--system-gray, #9797af);
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

input[type='text']:focus,
input[type='tel']:focus,
input[type='number']:focus,
input[type='email']:focus {
  appearance: none;
  color: var(--orange);
  border-bottom-color: var(--orange);
}

.title {
  margin-top: 13px;
  margin-bottom: 26px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.28px;
}

@media (max-width: 560px) {
  .title {
    margin-top: 0;
    margin-bottom: 13.5px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
}

.title-btn {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.title-btn:hover,
.title-btn__text {
  color: var(--fuchsia);
}

.title-btn:hover svg {
  fill: var(--fuchsia);
}

.check {
  display: flex;
  align-items: center;
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__input:checked + .checkbox {
  background-color: var(--fuchsia);
  background-image: url('../assets/icons/check.svg');
  box-shadow: 0 0 0 1px var(--fuchsia);
}

.checkbox {
  display: block;
  font-family: sans-serif;
  width: 21px;
  height: 21px;
  border-radius: 5px;
  margin-right: 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 1px var(--rulers2);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.container {
  padding: 22px 25px 50px;
  border-radius: 24px;
  background-color: var(--smoky);
}

@media (max-width: 560px) {
  .container {
    padding: 13px 16px 15px;
  }
}

.app-container {
  max-width: 1400px;
  margin: 0 auto;
}

.contrast-container {
  padding: 16px 24px 24px 24px;
  border-radius: 16px;
  background: white;
}

@media (max-width: 560px) {
  .contrast-container {
    margin: 0 -16px;
    padding: 16px;
  }
}

.ruler {
  height: 1px;
  width: 100%;
  margin-top: 16px;
  background-color: var(--rulers);
}

.footer {
  padding: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}
